#Example of CSS
	.outer {
		border: solid;
		width: 280px;    
	}
	.inner {
		background: gold;
		margin: 40px 10px 0 50px;
	}
  
  
#Example of LESS

#header {
  color: black;
}
#header .navigation {
  font-size: 12px;
}
#header .logo {
  width: 300px;
}

#Example of SASS

nav
  ul
    margin: 0
    padding: 0
    list-style: none

  li
    display: inline-block

  a
    display: block
    padding: 6px 12px
    text-decoration: none
